body {
	font-size: 12px;
	font-family: "IBM Plex Sans", sans-serif;
	color: #333;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-color: #f9f9f9;
	margin: 0;
	align-items: center;
}

.desc {
	color: gray;
}

.desc a {
	color: #0060a0;
}

#client {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 1em;
	width: 364px;
}

#client.hide-solved a.problem.verdict-OK {
	display: none !important;
}

#client .container {
	display: flex;
}

#client .timeline-container {
	margin-left: 16px;
	margin-top: 16px;
	flex-shrink: 0;
}

#client .timeline-marker {
	fill: #eee;
}
#client .timeline-marker[data-count="1"] {
	fill: #80b0d0;
}
#client .timeline-marker[data-count="2"] {
	fill: #4088b8;
}
#client .timeline-marker[data-count="3"] {
	fill: #005b98;
}
#client .timeline-marker[data-count="4"] {
	fill: #004d80;
}
#client .timeline-marker[data-count="5+"] {
	fill: #003a60;
}

#client .options {
	display: flex;
	margin-bottom: 8px;
	justify-content: flex-end;
}

#client .options .checkbox {
	display: flex;
	user-select: none;
}

#client .options .checkbox input {
	display: none;
}

#client .options .checkbox input:checked ~ .checkbox-mark::after {
	content: "✓";
	font-weight: bold;
	margin-right: 2px;
}

#client .options .checkbox input:checked ~ .checkbox-text {
	font-weight: bold;
}

#client #search {
	display: flex;
}

#client #search input {
	border: 1px solid #ccc;
	flex: 1;
	padding: 0.5em;
}

#client #search button {
	border: 1px solid #ccc;
	margin-left: 0.5em;
	padding: 0.5em;
	background-color: #eee;
}

#client #search button:hover {
	background-color: #e5e5e5;
}

#client .loader {
	margin: 1em 0;
	align-self: center;
}

#client .error {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	color: darkred;
	background-color: lightcoral;
	padding: 1em;
	border: 1px solid darkred;
}

#client .error .close:after {
	display: inline-block;
	content: "\00d7";
}

#client .user {
	margin-top: 16px;
	width: 240px;
	box-sizing: border-box;
}

#client .user .set .set-name {
	display: block;
	width: 100%;
	padding: 2px;
	border: 1px solid transparent;
	background: none;
	color: #0060a0;
	text-align: left;
}

#client .user .set .set-name:hover {
	background: #1f67a320;
}

#client .user .set .set-list {
	display: none;
	margin-bottom: 8px;
}

#client .user .set .set-list[data-show="true"] {
	display: block;
}

#client .user .set .set-list .set-header,
#client .user .set .set-list .problem {
	display: flex;
	justify-content: space-between;
	padding: 2px;
}

#client .set-header {
	font-weight: bold;
}

#client a.problem {
	color: #0060a0;
	--hover-color: #0060a020;
	text-decoration: none;
}

#client a.problem:hover {
	background-color: var(--hover-color);
}

#client .verdict-OK,
#client .problem.verdict-OK {
	color: #4f8d00;
	--hover-color: #4f8d0020;
}

#client .verdict-WRONG,
#client .problem.verdict-WRONG {
	color: #ad1c00;
	--hover-color: #ad1c0020;
}

#client .problem-index {
	display: inline-block;
	width: 5ch;
	font-weight: bold;
}

#client .problem-desc {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#client .problem-diff {
	margin-left: 0.5em;
}

#client .timeline-unique {
	margin-bottom: 2px;
}

#client .timeline-diff-sum {
	margin-bottom: 8px;
}

/* LOADER */

.lds-ring {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	margin: 4px;
	border-style: solid;
	border-width: 4px;
	border-radius: 50%;
	border-color: #ccc transparent transparent transparent;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
